version: '3.8'

services:
  db:
    image: postgres:14
    container_name: fme-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fme-network

  backend:
    build: .
    container_name: fme-backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MP_ACCESS_TOKEN: APP_USR-2020000981107633-120917-4f5d46496989e099e95a044d3285ab41-3052967873
    networks:
      - fme-network

volumes:
  postgres_data:


networks:
  fme-network:
    driver: bridge
